@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root{
    --cor-primaria:#40A2E3;
    --cor-secundaria:#0D9276;
    --cor-terciaria:#BBE2EC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}
body{
   
    background-color: var(--cor-primaria);
}

.container{
    max-width: 1440px;  
    margin: 0 auto;
    display: flex;
    
    
}



.container__conteudo{
    margin: 20px auto;
    display: flex;
    justify-content: center;
}


.texto-regra{
 margin: 80px;
   
}

.svg-textarea{
    display: flex;
    gap: 4px;
    align-items: center;

    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: regular;
}

.texto{
    display: flex;
    
    background-color:var(--cor-primaria);
    color: #0A3871;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    resize: none;
    border: none;
    width: 680px;
    height: 588px;

    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
   
}

.buttons{
    display: flex;
    margin: 10px 0;
}

.criptografar{
    border: none;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    background-color: var(--cor-secundaria);

    cursor: pointer;
}

.descriptografar{
    margin-left: 10px;
    border: none;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    background-color: var(--cor-terciaria);

    cursor: pointer;
}

.shadow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 30px;
	box-shadow: 0 0 8px #ffffff;
    border-radius: 32px;
    height: 800px;
	width: 400px;  
    
}
.svg-campo-branco{
   max-width: 100%;
   width: 336px;
  
}
.rodape{
    padding: 24px;
    text-align: center;
    text-transform: capitalize;
    background-color: black;
    color: white;
    max-width: 100%;
}

/* @media (max-width: 1330px){
    .container{
        flex-direction: column;
        align-items: center;
        
    }
    header{
        padding: 2% 0% 0% 15%;
    }
} */